
           <section>
               <div class="imgbox">
                <img [src]="photo" alt="">
               </div>
               <div class="contentbx">
                <div class="formbx">
                    <h2>Login</h2>
                    <form>
                        <div class="inputbx">
                            <span for="Username">Username</span>
                            <input type="text" name="" required minlength="7">
                        
                            <span>Password</span>
                            <input type="password" name="" required >
                        </div>
                        <div class="remember">
                            <label><input type="checkbox" name=""> Remember me</label>
                        </div>
                        <div class="inputbx">
                            <input type="submit" value="Sign in" name="">
                            </div>
                        <div class="inputbx">
                            <p> Don't have an account? <a (click)="onLoadSignUp()">Sign up</a></p>
                        </div>
                    </form>
                   <h3>Login with social media</h3>
                   <ul class="sci">
                       <li><img [src]="photo1" alt=""></li>
                       <li><img [src]="photo2" alt=""></li>
                       
                   </ul>
                </div>
               </div>
           </section>
           
       