<!-- <nav class="navbar navbar-expand-lg navbar-dark mb-0" id="lastBar" style="margin: 0, 0, 0, 0;"> -->
<div class="navLeftFooter nav-sprite-v1" id="navFooter">
  <!-- <a href="#nav-top" id="navBackToTop" aria-label="Back to top">
    <div class="navFooterBackToTop">
      <span class="navFooterBackToTopText">Back to top</span>
    </div>
  </a> -->
  <!-- <div class="navFoterVericalColumn navAccessibility" role="presentation">
    <div class="navFoterVericalRow navAccessibility" style="display: table-row;">
    <div class="navFooterColHead">Get to Know Us</div>
    </div>
  </div>
</div>
<div class="nav-footer-line"></div>
<div class="navFooterLine navFooterLinkLine navFooterPadItemLine">
  <span class="icp-container-desktop">
    <div class="navFooterLine">
      <style type="text/css">#icp-touch-link-language { display: none }</style>
      <a href="https://www.amazon.in/gp/customer-preferences/select-language/ref=footer_lang?ie=UTF8&preferencesReturnUrl=%2F%3F%26ext_vrnc%3Dhi%26tag%3Dgooghydrabk1-21%26ref%3Dpd_sl_7hz2t19t5c_e%26adgrpid%3D58355126069%26hvpone%3D%26hvptwo%3D%26hvadid%3D486458755421%26hvpos%3D%26hvnetw%3Dg%26hvrand%3D10951081522962159520%26hvqmt%3De%26hvdev%3Dc%26hvdvcmdl%3D%26hvlocint%3D%26hvlocphy%3D9302310%26hvtargid%3Dkwd-10573980%26hydadcr%3D14453_2154373%26gclid%3DCj0KCQiAweaNBhDEARIsAJ5hwbefCUNNCDoYRL5B9Z0JLtlSdiP_NRYwq5erjQjW8jvGYnTY-j-Yd2kaAmbrEALw_wcB" class="icp-button" id="icp-touch-link-language">
        <div class="icp-nav-globe-img-2 icp-button-globe-2"></div>
        <span class="icp-color-base">English</span>
        <span class="nav-arrow icp-up-down-arrow"></span>
        <span class="aok-hidden" style="display:none" >Choose a language for shooping.</span>
      </a>
    </div>
  </span> -->


<div class="container">
<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" routerLink="home" routerLinkActive="active-link" >Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" routerLink="categories" routerLinkActive="active-link">Categories</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" routerLink="wishlist" routerLinkActive="active-link">Wishlist</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" routerLink="orders" routerLinkActive="active-link">Orders</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" routerLink="contact" routerLinkActive="active-link">Contact</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" routerLink="about_us" routerLinkActive="active-link">About Us</a></li>
  </ul> 
  <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
  </footer>
</div>
</div>
 <!-- <p class="text-center text-muted"> -->
  <!-- <ul class="nav col-lg-4 justify-content-center list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
  </ul> -->

