<ng-container  >
    <div class="container">
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"  class="mx-auto d-block" width="40%"  alt="">
           <div class="alert alert-warning col-md-12">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6></div>
                  <button class="btn btn-primary" (click)="onLoad()">Shop Now</button>
        </div>
    </div>
</ng-container>
