

<pre></pre>

<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/allen1.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Printed Casual Men Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/allen2.jpg"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Navy Blue Casual Men Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/allen3.jpg"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Slim Fit Men Casual Shirt </h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/allen4.jpeg"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Cheqes Men Casual Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>

<pre></pre>

<h3>Formal Shirts</h3>
<pre></pre>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/2.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Plain Formal Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/formal2.jpg"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Blue Formal Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/formal1.jpg"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Sky Blue Formal Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/1.jpg"  class="card-img-top img-fluid"width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Simple Print Formal Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>