/* .text-center text-md-left{
    /* padding: 5px 20px; */
    /* margin-right: 30px; */

/* .mb-4{
    margin-left: 60px;
    margin-right: 60px;
}
.btn-primary{
    margin-right: 200px;
} */
.row{
    margin-left: 10px;
}