
<pre></pre>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/prada1.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Black Dress</h6>
                <p><strong>Price:</strong>$5000</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/prada2.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Prada Outfit</h6>
                <p><strong>Price:</strong>$8000</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/prada3.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">White-Red Prada Jacket</h6>
                <p><strong>Price:</strong>$9000</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/prada4.png"  class="card-img-top img-fluid"width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">White and Black T-shirt</h6>
                <p><strong>Price:</strong>$4000</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>
