
<h1>Women's Wear</h1>
<h3>Sarees</h3>

<pre></pre>

<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/saree1.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h5 class="card-title">Saree</h5>
                <h5 class="card-title">4.2 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/saree2.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h5 class="card-title">saree</h5>
                <h5 class="card-title">4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/saree3.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">saree</h5>
                <h5 class="card-title">4.3 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/saree4.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h5 class="card-title">saree</h5>
                <h5 class="card-title">4.2 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>

<pre></pre>

<h3>Kurtis</h3>
<pre></pre>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/kurti1.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">Kurti</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/kurti2.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">kurti</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/kurti3.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h5 class="card-title">kurti</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/kurti4.png"  class="card-img-top img-fluid"width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">kurti</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>

<pre></pre>

<h3>Plazzo Set</h3>
<pre></pre>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/plazo1.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">plazzo set</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/plazo2.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">plazzo set</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/plazo3.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h5 class="card-title">plazo set</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/plazo4.png"  class="card-img-top img-fluid"width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">plazzo set</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>

<pre></pre>

<h3>Tops</h3>
<pre></pre>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/top1.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">Printed Crop Top</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/top2.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title"> Green Top</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/top3.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h5 class="card-title">Red Plain Top</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/top4.png"  class="card-img-top img-fluid"width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">Pink Baloon Sleeves Top</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>

<pre></pre>

<h3>Gowns</h3>
<pre></pre>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/gown1.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">Purple Full Gown</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/gown2.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title"> Golden Neted Gown</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/gown3.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h5 class="card-title">Heavy Work Gown</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/gown4.png"  class="card-img-top img-fluid"width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">Blue Long Gown</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>

<pre></pre>

<h3>Skirts</h3>
<pre></pre>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/skirt1.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">Maroon Short Skirt</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/skirt2.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title"> Flower Print Short Skirt</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/skirt3.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h5 class="card-title">Black Printed Full Skirt</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/skirt4.png"  class="card-img-top img-fluid"width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">Blue Skirt with Border</h5>
                <h5 class="card-title">4.4 stars</h5>
                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>
