<h1>New Clothes</h1>
<!-- <h3>Sarees</h3> -->

<pre></pre>

<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/saree3.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h5 class="card-title">Saree</h5>
                <p><strong>Price:</strong>$1500</p>                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/kurti1.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h5 class="card-title">Yellow Printed Kurti</h5>
                <p><strong>Price:</strong>$1500</p>                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/gown1.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h5 class="card-title">Purple Long Gown</h5>
                <p><strong>Price:</strong>$1500</p>                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/top1.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h5 class="card-title">Pribted Crop Top</h5>
                <p><strong>Price:</strong>$1500</p>                
                <a href="#" class="btn btn-success btn-lg btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>

