<div class="content">
<img [src]="myimage" height="800px" width="1500px">  
</div>
<div class="heading">
    <h1 id="head">Create Account</h1>
   
    </div>
    <form>
       
           
            <div id="content1">
            
            <label>Name</label><br><br>
            <input type="name" name="name" placeholder="  Enter your name" class="box" required><br>
            <label>Email</label><br><br>
            <input type="email" name="email" placeholder="  Enter your email" class="box" required><br>
            <label>Mobile No.</label><br><br>
            <input type="number" name="number" placeholder="  Enter your mobile number" class="box" required><br>
            <label>Date of Birth</label><br><br>
            <input type="date" id="birthday" name="birthday" class="box" required><br>
            <label>Password</label><br><br>
            <input type="password" name="password" placeholder="  Enter your password" class="box" required><br>
            <label>Confirm password</label><br><br>
            <input type="password" name="password" placeholder="  Re-enter password" class="box" required><br>
           
            <input type="submit" name="" value ="Login"> 
            <input type="cancel" name="" value ="Cancel"> <br><br><br>
            <p class="p">Already have an account?  <a href="#">  Sign In </a></p>
            </div>
            
           

     
           
       
    </form>
