<div class="content">    
  <img [src]="myimage" height="800px" width="1350px">  
</div>
<div class="heading">
</div>
<form class="form-group" #Registerform="ngForm" (ngSubmit)="registerUser()" >
  <small class="text-danger">{{msg}}</small>
  <div id="content1">
    <h1 id="head">Create Account</h1><br>
    <div>
      <label class="form-group">First Name</label><br>
      <input 
      class="form-control" 
      type="fname" 
      name="fname" 
      placeholder="  Enter your first name"  
      fname ngModel
      [(ngModel)]="user.fname"
      required #fname="ngModel"
      [class.is-invalid]="fname.invalid && fname.touched">
      <small class="text-danger"  [class.d-none]="fname.valid || fname.untouched"> First Name is required</small>
    </div>
        <!-- <span *ngIf="(!fname.dirty && fname.touched)"
        class="text-danger">Please Enter a Valid First Name</span> -->
        
        <div>
          <label class="form-group">Last Name</label><br>
          
          <input 
          class="form-control" 
          type="lname" 
          name="lname" 
          placeholder="  Enter your Last name"  
          lname ngModel
          [(ngModel)]="user.lname"
          #lname="ngModel"
          required
          [class.is-invalid]="lname.invalid && lname.touched">
          <small class="text-danger"  [class.d-none]="lname.valid || lname.untouched"> Last Name is required</small>
        </div>
          <!-- <span *ngIf="(!lname.dirty && lname.touched)"
          class="text-danger">Please Enter a Valid Last Name</span> -->

        <div>
        <label class="form-group">Email</label><br>
        <input
        class="form-control" 
        type="email" 
        name="email" 
        placeholder="  Enter your email"  
        email ngModel
        [(ngModel)]="user.emailId"
        #email="ngModel"
        required
        [class.is-invalid]="email.invalid && email.touched">
        <small class="text-danger"  [class.d-none]="email.valid || email.untouched"> Email Id is required</small>
      </div>
        <!-- <span *ngIf="(!email.dirty && email.touched)"
        class="text-danger">Please Enter a Valid Email</span> -->
        

        <div>
        <label class="form-group">Mobile No.</label><br>
        <input
        class="form-control" 
        type="number" 
        name="contact" 
        placeholder="  Enter your Mobile Number"  
        contact ngModel
        [(ngModel)]="user.contact"
        #contact="ngModel"
        required
        [class.is-invalid]="contact.invalid && contact.touched">
        <small class="text-danger"  [class.d-none]="contact.valid || contact.untouched"> Mobile Number is required</small>
      </div>
        <!-- <span *ngIf="(!mobile_Number.dirty && mobile_Number.touched)"
        class="text-danger">Please Enter a Valid Mobile Number</span> -->
        

        <div>
        <label class="form-group">Date of Birth</label><br>
        <input
        class="form-control" 
        type="date" 
        name="birthDate" 
        placeholder="  mm/dd/yyyy"  
        birthDate ngModel
        [(ngModel)]="user.birthDate"
        #birthDate="ngModel"
        required
        [class.is-invalid]="birthDate.invalid && birthDate.touched">   
        <small class="text-danger"  [class.d-none]="birthDate.valid || birthDate.untouched"> Date of birth is required</small>    
      </div>     
        <!-- <span *ngIf="(!dateofBirth.dirty && dateofBirth.touched)"
        class="text-danger"></span> -->
        
        
        <div>
        <label class="form-group">Password</label><br>
        <input
        class="form-control" 
        type="password" 
        name="password" 
        placeholder="  Enter Password"  
        password ngModel
        [(ngModel)]="user.password"
        #password="ngModel"
        pattern="(?=.*[!@#$%&*])(?=.*[a-z])(?=.*[A-Z]).{6,}"
        maxlength="10"
        required
        [class.is-invalid]="password.invalid && password.touched">     
        <small class="text-danger" [class.d-none]="password.valid || password.untouched"> Password is required</small>
        
      </div>     
        <!-- <span *ngIf="(!password.dirty && password.touched)"
        class="text-danger">Please Enter a Valid Password</span> -->
        


        <div>
        <label class="form-group">Confirm password</label><br>
        <input
        class="form-control" 
          type="password" 
          name="conpassword" 
          placeholder="   Confirm Password "  
          conpassword ngModel
          #conpassword="ngModel"
          pattern="{{password.value}}"
          maxlength="10"
          required
          [class.is-invalid]="conpassword.invalid && conpassword.touched">  
          <small class="text-danger" [class.d-none]="(conpassword.value==password.value) || conpassword.untouched"> Confirm Password not matched</small>
        </div>         
          <!-- <span *ngIf="(!password.dirty && password.touched)"
          class="text-danger">Password Not Match</span>  -->
        
        <input type="submit" name=""  value ="Register"> 
        <input type="cancel" name="" (click)="onLoadCancel()" value ="Cancel"> <br><br><br>
        <p class="p">Already have an account?  <a (click)="onLoadSignIn()">  Sign In </a></p>
  </div>
</form>
        