<!-- Section: Contact v.2 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Checkout</h2>
    <!-- Section description -->
   
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-9 mb-md-0 mb-5">
  
        <form style="margin-right:auto;">
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="contact-name" class="">Your name</label>
                <input type="text" id="contact-name" class="form-control" mdbInput>
                
              </div>
            </div>
            <!-- Grid column -->
  
            
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
          <br>
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
           <!-- Grid column -->
           <div class="col-md-6">
            <div class="md-form mb-0">
              <label for="contact-email" class="">Your email</label>
              <input type="text" id="contact-email" class="form-control" mdbInput>
             
            </div>
           </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
          <br>
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form">
                <label for="contact-message">Your Address</label>
                <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"
                  ></textarea>
               
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
         </form>
         <br>
        <div class="text-center text-md-left">
          <button 
          class= "btn btn-primary" routerLink="/order">Pay</button>
        </div>
  
      </div>
     
  
    

        

    </div>

</section>
<!--Section: Contact v.2-->