<div class="container-fluid justify-content-center bg-light">
    <p class="text-center">Connect with us</p>

    <div id="socials">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <p class="text-center">Facebook logo</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <p class="text-center">Instagram logo</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <p class="text-center">Twitter logo</p>
            </div>
        </div>
    </div>

    <select class="form-control" id="language">
        <option>English</option>
        <option>Hindi</option>
    </select>
</div>
