
<div class="container mt-3">
    <div class="row align-items-center">
            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6">
                <img id="productImage" src="{{product.imageUrl}}" alt="">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-6 col-xl-6">
                <h2>{{product.name}}</h2>
                <p>{{product.description}}</p>
                <p>Listed since: {{product.dateCreated}}</p>
                <p>Units In Stock: {{product.unitsInStock}}</p>
                <p>Price: {{product.unitPrice | currency:'INR'}}</p>
                <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
            </div>
    </div>
</div>