
<h1>Men's Wear</h1>
<h3>Casual Shirts</h3>

<pre></pre>

<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/casual1.png"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Printed Casual Men Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
                <pre></pre>
                <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/casual2.jpg"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Navy Blue Casual Men Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/casual3.jpg"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Slim Fit Men Casual Shirt </h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/casual4.jpg"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Cheqes Men Casual Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>

<pre></pre>

<h3>Formal Shirts</h3>
<pre></pre>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/2.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Plain Formal Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/formal2.jpg"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Blue Formal Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/formal1.jpg"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Sky Blue Formal Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/1.jpg"  class="card-img-top img-fluid"width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Simple Print Formal Shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>

<pre></pre>

<h3>T-Shirts</h3>
<pre></pre>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/tshirt1.jpg"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Black T-shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/tshirt2.jpg"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Lining T-shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/tshirt3.jpg"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Double-Shade T-shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                    <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
                </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/tshirt4.jpg"  class="card-img-top img-fluid"width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">
                Black Full-sleeves T-shirt</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>

<pre></pre>

<h3>Jackets & Sweatshirts</h3>
<pre></pre>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/jacket1.jpg"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Double-Colore Jacket</h6>
                <p><strong>Price:</strong>$1800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/jacket2.jpg"  class="card-img-top img-fluid" width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Soft Two-in-One Jacket</h6>
                <p><strong>Price:</strong>$3800</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/jacket3.jpg"  class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Light-weight Jacket</h6>
                <p><strong>Price:</strong>$2000</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/sweatshirt.jpg"  class="card-img-top img-fluid"width="600px" height="600px">
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Sweatshirt</h6>
                <p><strong>Price:</strong>$2500</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</div>

<pre></pre>

<h3>Men Jeans</h3>
<pre></pre>
<div class="container">
<div class="row">
    
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/jeans1.jpg"  class="card-img-top img-fluid" width="600px" height="600px">
           
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Dark Blue Jeans</h6>
                <p><strong>Price:</strong>$900</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/jeans2.jpg"  class="card-img-top img-fluid" width="600px" height="600px">
            <!-- <img src="{{item.image}}" alt=""> -->

            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">New Look Jeans</h6>
                <p><strong>Price:</strong>$1500</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/jeans3.jpg"  class="card-img-top img-fluid" alt="">
            <!-- <img src="{{item.image}}" alt=""> -->

            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Men Jeans</h6>
                <p><strong>Price:</strong>$950</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        

        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/jeans4.png"  class="card-img-top img-fluid"width="600px" height="600px">
            <!-- <img src="{{item.image}}" alt=""> -->

            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Light Blue Jeans</h6>
                <p><strong>Price:</strong>$1050</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

</div>
</div>

<pre></pre>

<h3>Men Trousers</h3>
<pre></pre>
<div class="container">
<div class="row">
    
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/trouser1.png"  class="card-img-top img-fluid" width="600px" height="600px">
           
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Slim fit Trouser</h6>
                <p><strong>Price:</strong>$900</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/trouser2.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <!-- <img src="{{item.image}}" alt=""> -->

            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Trouser</h6>
                <p><strong>Price:</strong>$1500</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/trouser3.png"  class="card-img-top img-fluid" alt="">
            <!-- <img src="{{item.image}}" alt=""> -->

            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Trouser</h6>
                <p><strong>Price:</strong>$950</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        

        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/trouser4.jpg"  class="card-img-top img-fluid"width="600px" height="600px">
           

            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Trouser</h6>
                <p><strong>Price:</strong>$1050</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div> -->

</div>
</div>

<pre></pre>

<h3>Track Pants</h3>
<pre></pre>
<div class="container">
<div class="row">
    
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/track1.png"  class="card-img-top img-fluid" width="600px" height="600px">
           
            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Track Pant</h6>
                <p><strong>Price:</strong>$900</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/track2.png"  class="card-img-top img-fluid" width="600px" height="600px">
            <!-- <img src="{{item.image}}" alt=""> -->

            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Track Pant</h6>
                <p><strong>Price:</strong>$1500</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/track3.png"  class="card-img-top img-fluid" alt="">
            <!-- <img src="{{item.image}}" alt=""> -->

            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Track Pant</h6>
                <p><strong>Price:</strong>$950</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        

        <div class="card border-secondary bg-light text-center">
            <img src="assets/images/track4.png"  class="card-img-top img-fluid"width="600px" height="600px">
            <!-- <img src="{{item.image}}" alt=""> -->

            <div class="card-body">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis ;max-width: 100ch;">Track Pant</h6>
                <p><strong>Price:</strong>$1050</p>
                
                <a href="#" class="btn btn-success btn-md btn-block">Add to cart</a>
            </div>
        </div>
    </div>

</div>
</div>