<div class="mb-4 p-5 bg-light text-center">
    <h1 class="display-4">Showcase!</h1>
    <p class="lead">Look at our showcases!</p>
    <hr>
    <p>Showcasing Wonderful stuff!</p>
    <a class="btn btn-light btn-lg" href="#" role="button">Show me more!</a>
</div>
    
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card border-secondary bg-light text-center">
                <img class="card-img-top img-fluid" src="content/clothes.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Men</h4>
                    <p class="card-text">Browse our men's stuff</p>
                    <a href="#" class="btn btn-success btn-lg btn-block">Browse Men</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card border-secondary bg-light text-center">
                <img class="card-img-top img-fluid" src="content/clothes.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Women</h4>
                    <p class="card-text">Browse our amazing beautiful feminine women's stuff</p>
                    <a href="#" class="btn btn-success btn-lg btn-block">Browse Women</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card border-secondary bg-light text-center">
                <img class="card-img-top img-fluid" src="content/clothes.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">New Arrivals</h4>
                    <p class="card-text">Browse our new stuff</p>
                    <a href="#" class="btn btn-success btn-lg btn-block">Browse New Arrivals</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card border-secondary bg-light text-center">
                <img class="card-img-top img-fluid" src="content/clothes.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Best Selling</h4>
                    <p class="card-text">Browse our most popular stuff</p>
                    <a href="#" class="btn btn-success btn-lg btn-block">Browse Best Selling</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="display-4 text-center">Shop By Brand</h2>

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card border-secondary bg-light text-center">
                <img class="card-img-top img-fluid" src="content/clothes.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Brand 1</h4>
                    <p class="card-text">Browse our most popular stuff</p>
                    <a href="#" class="btn btn-success btn-lg btn-block">Browse Best Selling</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card border-secondary bg-light text-center">
                <img class="card-img-top img-fluid" src="content/clothes.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Brand 2</h4>
                    <p class="card-text">Browse our most popular stuff</p>
                    <a href="#" class="btn btn-success btn-lg btn-block">Browse Best Selling</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card border-secondary bg-light text-center">
                <img class="card-img-top img-fluid" src="content/clothes.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Brand 3</h4>
                    <p class="card-text">Browse our most popular stuff</p>
                    <a href="#" class="btn btn-success btn-lg btn-block">Browse Best Selling</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="display-4 text-center">Pocket Friendly Fashion</h2>

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card border-secondary bg-light text-center">
                <img class="card-img-top img-fluid" src="content/clothes.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Small Discounts</h4>
                    <p class="card-text">Browse our most popular stuff</p>
                    <a href="#" class="btn btn-success btn-lg btn-block">Browse Best Selling</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card border-secondary bg-light text-center">
                <img class="card-img-top img-fluid" src="content/clothes.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Medium Discounts</h4>
                    <p class="card-text">Browse our most popular stuff</p>
                    <a href="#" class="btn btn-success btn-lg btn-block">Browse Best Selling</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card border-secondary bg-light text-center">
                <img class="card-img-top img-fluid" src="content/clothes.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Big Discounts</h4>
                    <p class="card-text">Browse our most popular stuff</p>
                    <a href="#" class="btn btn-success btn-lg btn-block">Browse Best Selling</a>
                </div>
            </div>
        </div>
    </div>
</div>
